html {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #4DB6AC; }

* {
  transition: all ease 0.3s;
  color: white;
  font-family: sans-serif; }

[v-cloack] {
  display: none; }

#promodoro-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center; }

.clock {
  background: rgba(2, 119, 189, 0.3);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: relative; }
  .clock:hover {
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2); }
    .clock:hover .inner-controls {
      opacity: 7; }
  .clock.rest {
    background: #0091EA; }

.title {
  margin: 0; }

.time {
  font-size: 90px; }

.inner-controls {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all ease 1s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .inner-controls .material-icons {
    font-size: 90px; }

.outer-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .outer-controls-container [class*="-control"] {
    margin: 5px; }

button {
  border: 0;
  height: 38px;
  color: #4DB6AC;
  padding: 5px;
  background: #0277BD;
  cursor: pointer; }

.value {
  margin: 0 10px;
  display: inline-block;
  height: 38px;
  vertical-align: middle; }

.separator {
  height: 100%;
  width: 2px;
  background: white; }

/*# sourceMappingURL=styles.css.map */
